.md-app-toolbar {
  height: 64px !important;
}

.content-container {
  padding-top: 64px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  cursor: pointer;
}

.alert-success {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #17bd22;
  color: white;
}

.alert-error {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: red;
  color: white;
}

.fa.light {
  color: white !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.md-button.md-primary {
  background-color: #474C45 !important;
  color: white !important;
}

.md-button.md-secondary {
  background-color: #8e9889 !important;
  color: white !important;
}

.md-tabs.md-theme-default .md-tabs-navigation .md-button.md-active {
  color: #495046 !important;
}

.md-tabs.md-theme-default .md-tabs-indicator {
  background-color: #24E22C !important;
}

.error {
  color: red;
}

.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
}

.custom-select select {
  padding-left: 10px;
  background-color: transparent;
  font-size: 18px;
  outline: none;
  appearance: none;
  cursor: pointer;
}

.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
}

.md-dialog-content {
  overflow-y: scroll !important;
  max-height: 100vh;
  height: auto;
  width: 80vw;
  max-width: 1000px;
}

.back-btn-container {
  margin-left: 16px;
}

.decorated-link {
  color: blue;
}

.decorated-link:hover {
  text-decoration: underline;
}

.btn-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.btn-disabled .md-button-content {
  display: inline-flex;
  align-items: center;
}

.btn-spin {
  margin-left: 5px;
}

.spinner-primary.md-progress-spinner.md-theme-default .md-progress-spinner-circle {
  stroke: #474C45 !important;
}